# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/client/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tmp
.vscode
_site
coverage
dist
es
lib

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### OSX ###
.AppleDouble
.DS_Store
.LSOverride
Icon

### Windows ###
# Windows image file caches
ehthumbs.db
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/